body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: #45a049;
    padding: 30px;
    color: white;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 20px;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
